<div class="pageAll-container">
    <div class="pageAll-content">
        <img src="assets/images/icons/iconCheck.svg" class="imgOnlyTall" />
        <div class="titlediv">
            <div class="pageAllTitle20_B500">Canje exitoso </div>
        </div>
        <div class="subtitlediv">
            <div class="pageAllTitle14">
                Tu <strong class="txtImportant">Bono Fidelización</strong> se activará
                <strong class="txtImportant">el 01 de Julio</strong><br><br> Te enviaremos un correo.
            </div>
        </div>

    </div>
    <div class="tdp-first-detail">
        <label class="tdp-text-detail"></label>
        <div [ngClass]="buttonClases()" (click)="backHome()">
            <label>{{platform == "android" ? "VOLVER A MI LINEA":"VOLVER A MI LINEA"}}</label>
        </div>
    </div>
</div>