<div class="pageAll-container">
    <div class="pageAll-content">
        <img src="assets/images/icons/iconCheck.svg" class="imgOnlyTall" />
        <div class="titlediv">
            <div class="pageAllTitle20_B500">Activación exitosa</div>
        </div>
        <div class="subtitlediv">
            <div class="pageAllTitle14">
                Disfruta de tu Beneficio Movistar a partir<br> del <strong class="txtImportant">el 01 de Julio</strong>
            </div>
            <br><br>
            <div class="pageAllTitle14">Te enviaremos un correo con la confirmación</div>
        </div>

    </div>
    <div class="tdp-first-detail">
        <label class="tdp-text-detail"></label>
        <div [ngClass]="buttonClases()" (click)="backHome()">
            <label>{{platform == "android" ? "VOLVER A MI LINEA":"VOLVER A MI LINEA"}}</label>
        </div>
    </div>
</div>