<div class="pageAll-container ">
    <div class="pageAll-content">
        <img src="assets/images/icons/iconStop.svg" class="imgOnlyTall" />
        <div class="titlediv">
            <div class="pageAllTitle18">Sigue atento a nuestras novedades </div>
        </div>
        <div class="subtitlediv">
            <div class="pageAllTitle14">
                Por el momento no tenemos beneficios disponibles</div>

        </div>

    </div>
    <div class="tdp-first-detail">
        <label class="tdp-text-detail"></label>
        <div [ngClass]="buttonClases()" (click)="backHome()">
            <label>{{platform == "android" ? "VOLVER A MI LINEA":"VOLVER A MI LINEA"}}</label>
        </div>
    </div>
</div>