<div class="cajed-bonus-container">
  <div class="canjed-bonus-content"*ngIf="bono">

    <img
        [src]="bono.type === 'internet' ? 'assets/images/icons/call-bonus.svg' : 'assets/images/icons/mobile-data.svg' "
        alt="regalo img"
    />

    <span style="margin-bottom: 20px;">¡Disfruta tu regalo!</span>
    <div [innerHTML]=textPrincipal></div>
  </div>
  <div class="tdp-first-detail">
      <label class="tdp-text-detail" (click)="linkRouters('/bono-detail')">Conoce más sobre tus bonos</label>
      <div [ngClass]="buttonClases()" (click)="backHome()">
          <label >{{platform == "android" ? "VOLVER A MI LINEA":"Volver a mi linea"}}</label>
      </div>
  </div>

</div>
