<div class="cajed-bonus-container">
  <div class="canjed-bonus-content"*ngIf="bono">
  
    <img
        [src]="bono.type === 'internet' ? 'assets/images/icons/call-bonus.svg' : 'assets/images/icons/mobile-data.svg' "
        alt="regalo img"  
    />
  
    <span style="margin-bottom: 20px;">¡Disfruta tu regalo!</span>
    <p class="bonus-message" >¡Has recargado tu bono <font class="bonus-name">{{bono.name}}</font> con exito!</p>
    <div [innerHTML]=textPrincipal></div>
    <p style="margin-bottom: 40px; text-align: center;">Recuerda que tu bono tiene duración de un día.</p>
  </div>
  <div class="tdp-first-detail">
      <label class="tdp-text-detail" (click)="linkRouters('/bono-detail')">Conoce más sobre tus bonos</label>
      <div [ngClass]="buttonClases()" (click)="backHome()">
          <label >{{platform == "android" ? "VOLVER A MI LINEA":"Volver a mi linea"}}</label>
      </div>
  </div>
  
</div>