<div class="initial-container">



  <div class="initial-content">
    <p class="notation">¡Premiamos tu tiempo con nosotros!</p>
    <div class="gift-container">
      <img
        src="assets/images/icons/regalo.svg"
        alt="bono-regalo-movistar"
      />
    </div>
    <label>Elige el bono de tu preferencia</label>
  
    <div class="bonus-list">
      <div class="bonus-for" *ngFor="let bono of listOfBonos; let index = index;">
        <div class="bonus-item" [ngClass]="{'selected': bono.selected}" (click)="selectedBono(index)">
          <div class="bono-text-container">
              <div [innerHTML]=bono.bonoPrepago></div>
            <!-- <label>{{bono.bonoPrepago}}</label> -->
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="tdp-first-detail">
        
        <label class="tdp-text-detail" (click)="linkRouter('/bono-detail')">Conoce más sobre tus bonos</label>
        <div [ngClass]="buttonClases(checked)" (click)="sendData(checked)">
          <label >{{platform == "android" ? "CANJEAR":"Canjear"}}</label>
        </div>
    </div>

    <div class="cargandoInitial" *ngIf="cargando">
        <!-- <img  src="assets/cargando.gif" alt="cargando-telefonica" width="38" height="38"/> -->
        <p>Estamos cargando tu información</p>
    </div>
</div>

