.cajed-bonus-container{
    display: flex;
    flex-direction: column;
    padding:40px 16px 16px 16px;
    box-sizing: border-box;
    min-height: 100vh;
}

.bonus-message{
    text-align: center;
    margin-bottom: 20px;
}
.bonus-name{
    color:var(--notationText);
    font-weight: 400;
}
img{
    transform: translateX(-10px);
    margin-bottom:30px;
}


.canjed-bonus-content{
    display: flex;
    flex-direction: column;
    flex: 9;
    justify-content: center;
}