<div class="pageAll-container initial-container">
    <div class="toptitlediv">
        <div class="topTitle16">
            ¡Te premiamos por estar al día en tus pagos!
        </div>
        <div class="containerBono">
            <img src="assets/images/icons/iconGift.svg" />
            <div class="pageAllTitle28_B500" [innerHTML]=bonoGB></div>
            <div class="pageAllTitle14_B300" [innerHTML]=descriptionBono></div>
            <div class="pageAllTitle14_Bold" [innerHTML]=timeBono></div>
        </div>
        <div class="containerBonoTime" [innerHTML]=dateBono></div>
        <div class="datosUserdiv" [ngClass]=messageDivError>
            <input id="inputEmail" type="text" autocomplete="off" (keyup)="onKeydown($event)" #email placeholder="Ingresa tu correo electronico" style="margin-bottom: 0px;" />
            <div class="txtError">
                <p *ngIf="errorMessage" [innerHTML]=messageError></p>
            </div>
            <div class="txtAllTyC">
                Al "Canjear" has leído y aceptado nuestros <a routerLink="#" (click)="linkRouter('/bono-terms')">Términos y condiciones</a>
            </div>
        </div>
    </div>
    <div class="pageAll-content">


    </div>
    <div class="tdp-first-detail">
        <div [ngClass]="buttonClases()" (click)="canjearBono(email.value)">
            <label>{{platform == "android" ? "CANJEAR":"CANJEAR"}}</label>
        </div>
    </div>
    <div class="cargandoInitial" style="display:none;">
        <img src="assets/cargando.gif" alt="cargando-telefonica" width="38" height="38" />
        <p>Estamos cargando tu información</p>
    </div>
</div>
