<div class="initial-container">
        <div class="cargando" *ngIf="cargando">
                <img  src="assets/cargando.gif" alt="cargando-telefonica" width="38" height="38"/>
            </div>
    <div class="contenedor" >

        <div class="titlediv">
            <h1 class="title">¡A más tiempo con nosotros,</h1>
            <h1 class="title">más beneficios!</h1>
        </div>

        <swiper [config]="config" #swiper >
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of slides">
                    <div [ngClass]="(item.canje==true)?'swiper-headblue':'swiper-head'">
                        <h2>{{item.tiempoP}}</h2>
                        <p>Podras elegir una vez al mes</p>
                    </div>
                    <div class="swiper-body">
                        <div class="swiper-body-hijo" align='center'>
                            <div [innerHTML]=item.plan></div>
                            <img [src]="(item.canje==true)?'assets/images/icons/circleBlue.png':'assets/images/icons/circleGreen.png'"
                                width="30" height="30" alt="bono-regalo-movistar" />
                            <p>{{item.mb}}</p>
                            <label>{{item.tiempoS}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <div class="swiper-pagination"></div>
        </swiper>



    </div>

    <div class="align-bottom" >
        <div class="adicional"   *ngIf="permanencia; thenBlock ">
            <img src="../../../../assets/images/icons/circleAlert.png" width="22" height="22" /> <label #thenBlock>Tienes {{permanencia}} meses
                con nosotros</label>
        </div>
        <div [ngClass]="buttonClases()" (click)="backClicked()" >  
            <label>{{platform == "android" ? "REGRESAR":"REGRESAR"}}</label>
        </div>
    </div>

    

</div>

