<div class="pageAll-container">
    <div class="pageAll-content">
        <img src="assets/images/icons/iconStop.svg" class="imgOnlyTall" />
        <div class="titlediv">
            <div class="pageAllTitle20_Lh26">Ya cuentas con la mayor<br>velocidad de internet</div>
        </div>
        <div class="subtitlediv">
            <div class="pageAllTitle14">
                Estamos preparando otros beneficios para ti</div>
        </div>
    </div>
    <div class="tdp-first-detail">
        <label class="tdp-text-detail"></label>
        <div [ngClass]="buttonClases()" (click)="backHome()">
            <label>{{platform == "android" ? "VOLVER A MI LINEA":"VOLVER A MI LINEA"}}</label>
        </div>
    </div>
</div>