<div class="initial-container">
    <div class="gift-container">
      <img
        src="assets/images/icons/error.png"
        alt="movistar-error"
      />
    </div>
    <div class="gift-container">
        <label>¡Ups! Algo salió mal</label>
    </div>
    <div class="gift-container">
        <p>Inténtalo nuevamente</p>
    </div>
</div>

<div class="align-bottom" *ngIf="callbackUrl">
    <div [ngClass]="buttonClases()" (click)="backHome()">
        <label >{{platform == "android" ? "VOLVER A MI LÍNEA":"Volver a mi línea"}}</label>
    </div>
</div>