.initial-container{
    max-height: 100vh;
    height:calc(100vh - 58px);
    max-width: 100vw;
    padding:32px 16px 16px 16px;
    margin:0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.gift-container{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 36px;
}

.tdp-text-detail{
    text-decoration:none;
}

.gift-container label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2A2A3C;
}

.gift-container p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #757575;
}



.align-bottom{
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}