<div class="pageAll-container">
    <div class="toptitlediv">
        <div class="topTitle">
            Bono Fidelización
        </div>
        <div class="topSubTitle">
            Lorem ipsum dolor sit amet
        </div>
    </div>
    <div class="pageAll-content">
        <div style="position: relative">
            <div class="tycContainer">
                Texto Body Navega a máxima velocidad por sólo 6€ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet lectus metus. Suspendisse id pulvinar purus, non laoreet est. Proin vel sapien enim. Vestibulum sed pulvinar arcu. Nulla gravida,
                neque non bibendum condimentum, metus felis rhoncus leo, elementum commodo risus velit id augue. Maecenas ac pellentesque eros. Integer nisi velit, vulputate quis urna ut, efficitur interdum lorem.<br> Texto Body Navega
                a máxima velocidad por sólo 6€ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet lectus metus. Suspendisse id pulvinar purus, non laoreet est. Proin vel sapien enim. Vestibulum sed pulvinar arcu. Nulla gravida, neque
                non bibendum condimentum, metus felis rhoncus leo, elementum commodo risus velit id augue. Maecenas ac pellentesque eros. Integer nisi velit, vulputate quis urna ut, efficitur interdum lorem.

            </div>
            <div class="tycBottom"></div>
        </div>
    </div>
    <div class="tdp-first-detail">
        <div [ngClass]="buttonClases()" (click)="backClicked()">
            <label>{{platform == "android" ? "ENTENDIDO":"ENTENDIDO"}}</label>
        </div>
    </div>
</div>
