<div class="pageAll-container initial-container">
    <div class="toptitlediv">
        <div class="topTitle16">
            ¡Te premiamos por estar al día en tus pagos!
        </div>
        <div class="containerBono bnOk">
            <img src="assets/images/icons/iconGift.svg" />
            <div class="pageAllTitle16_Lh24">¡Ya lo canjeaste! </div>
            <div class="containerBonoBottom">
                <div class="pageAllTitle20_B500">Bono Fidelización</div>
                <div class="pageAllTitle14">por 3 meses</div>
            </div>
        </div>
    </div>
    <div class="pageAll-content">

    </div>
    <div class="tdp-first-detail">
        <div [ngClass]="buttonClases()" (click)="backHome()">
            <label>{{platform == "android" ? "VOLVER A MI LINEA":"VOLVER A MI LINEA"}}</label>
        </div>
    </div>
</div>